@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ################################### HTML ELEMENTS################################ */
html{
    font-size: 62.5%;
}

body{
    font-family: 'Montserrat', sans-serif;
}

ul li{
    list-style: none;
}

a{
    font-size: 1.6rem;
    text-decoration: none;
}

p, li{
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;

}
h1,h2,h3{
    margin-bottom: 0.5em;
    letter-spacing: 00.15em;
    font-weight: 500;
}

/* ################################## utlity classes ################################### */
.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.features{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.lg-heading{
    font-size: 3.5rem;
}
.md-heading{
        font-size: 2.2rem;
}
.text-red{
    color:#e63946;
}
.text-light{
    color: lightskyblue;
}
.text-black{
    color: #333;
}
.text-grey{
    color:#555555;
}

.btn{
    display: inline-block;
    padding: 0.5em 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0.5em 0;
}
.btn-primary{
    background-color: #fff;
    border-radius: 9em;
}

.btn-primary:hover{
    background-color:#ddd;
}

.btn-secondry{
    border: 2px solid #e63946;
    border-radius: 1.5em;
    color: #e63946;
    background-color: #fff;
}
.btn-secondry:hover{
    background-color:#fcf2f3;
}

.bg-dark{
    background: #263238;
}

/* ##################################### header Styling################################### */

.header{
    position: relative;
    height: 95vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/motherboard\ 1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar{
    /* border: 2px solid white; */
    padding: 1rem;
    
}

.navbar .logo{
    float: left;  
    transition-property: background;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;

}

.navbar .logo:hover{
    color: lightgoldenrodyellow;
    
}


.navbar .nav-items{
    float: right;
    margin-top: 1rem;
    text-transform: uppercase;
    font-weight: 600;
}

.navbar li{
    display: inline-block;
    padding: 1rem;
    transition-property: background;
    transition-duration: 500ms;
    transition-timing-function: ease-in;
}

.navbar a:link,
.navbar a:visited{
    color: lightskyblue;
}

.navbar a{
    padding-bottom: 0.5rem;
}

.navbar a:hover{
    border-bottom: 1px solid green;
    color: lightgoldenrodyellow;
    
}

.navbar::after{
    content: '';
    display: block;
    clear: both;
}

/* ############################# HOME CONTENTs ############################### */

.header-content h1{
    text-transform: uppercase;
    font-weight: 700;
    
}

.header-content{
    /* border: 2px solid white; */
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
}


.content{
    color:lightgreen;
    font-weight: 500;
    font-size:2.0rem;
    text-transform: uppercase;
}

/* ##################################### Showcase Styling ############################# */

.showcase{
    background:#ddd;
    padding: 9rem 0;
    padding-bottom: -1rem;
}

.raw{
    height: 350px;
    /* border: 2px solid black; */
    background:#fff;
    box-shadow: 5px 5px 40px 10px rgba(0, 0, 0, 0.301);
}

.raw1{
    margin-bottom: 10rem;
}
.raw2{
    margin-bottom: 10rem;
}
.raw3{
    margin-bottom: 10rem;
}
.raw4{
    margin-bottom: 10rem;
}

.raw1 .img-box,.raw2 .text-box,.raw3 .img-box,.raw4 .text-box{
    float: left;
    width: 50%;
}


.raw2 .img-box,.raw1 .text-box,.raw4 .img-box,.raw3 .text-box{
    float:right;
    width: 50%;
}

.raw .img-box{
    /* border: 2px solid red; */
    height: 100%;
}

.raw .text-box{
    /* border: 2px solid blue; */
    padding: 3rem;
    text-align: justify;
}

.raw .img-box img{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.text-box h2{
    font-size: 2.6rem;
}

.raw::after{
    content: '';
    display: block;
    clear: both;
}


/* #################################### Features Sections Styling #################################  */

.feature{
    padding: 10rem 0;
}

.box-wrapper{
    /* border: 2px solid blueviolet; */
    box-shadow: 10px 10px 20px 0px rgb(0, 0, 0);
}


.box{
    width: 33.3333333%;
    float: left;
    font-family: 'Ubuntu', sans-serif;
    /* border: 2px solid royalblue; */
    padding: 2rem;
    text-align: center;
}

.box-1,.box-3{
    background: #263238;
    color: #fff;
}

.box-2{
    background: linear-gradient(25deg,#d64c7f,#ee4758 50%);
    color: #fff;
}

.box-wrapper::after{
    content: "";
    display:block;
    clear: both;

}

/* ################################ foter styling ################## */

.footer{
    background: #263238;
    color: #f4f4f4;
    padding: 2rem;
    text-align: center;
}

.social-media-link i{
    padding: 2rem;
}

/* ######################################## About Page Styling ######################################################### */

.about{
    padding: 5rem 0;
}

.about-heading::after{
        content:" ";
        display: block;
        border: 3px solid #e04d5a;
        width: 100%;
}

/* ############################# About Wrapper ############################# */

.about-wrapper{
         /* border: 2px solid black;  */
         text-align:center;
         margin-top: 3rem;     
}

.about-wrapper .left{
    float: left;
    width: 50%;
    
}

.about-wrapper .right{
    float: right;
    width: 50%;
}

.about-wrapper::after{
    content: '';
    display: block;
    clear: both;
}

.about-wrapper li::before{
    content: '\2713';
    color:#e63946;
    font-weight: bold;
    padding-right: 1rem;
}

.counts{
    /* border: 2px solid black; */
    margin-top: 3rem;
}

.count-items{
    float: left;
    width: 25%;
    text-align: center;
    transition: transform 1s ease-in-out;
}

.count-items:hover{
     transform: scale(1.5, 2); 
}

.counts::after{
    content: '';
    display: block;
    clear: both;
}

.count-items span{
    font-size: 3rem;
    font-weight: 700;
    color: #e63946;
}

font-items p{
    font-weight: 700;
    color:#555;
    font-size: 1.8rem;
}


/* ############## Banner proprites ######################## */

.cta-banner{
        margin-top: 3rem;
        background: linear-gradient(25deg,#d64c7f,#ee4758 50%); ;
        color: #f4f4f4;
        padding: 1rem;
        box-shadow: 10px 10px 20px #00000057;
}


.cta-left{
    float: left;
    width:60%
}

.cta-right{
    float: right;
    width: 40%;
    text-align: right;
}

.banner-lines{
    font-weight: 700;
    font-size: 2rem;
    margin-top: 1.5rem;
}

.btn-cta{
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    border: 4px solid white;
    padding: 0.3em 2.5em;
    letter-spacing: 0.5rem;
    color:#f4f4f4;


}
.cta-banner::after{
    content: '';
    display: block;
    clear: both;
}



/* ############ contact page ################ */

.contact-form{
    padding: 5rem 0;
    background: #f7f7f7;
 
}

.form-wap::after{
    content: '';
    display: block;
    clear: both;
}

.form-wap .compny-add{
    height: 760px;
    background: #fff;
    width: 49%;
    float: left;
    padding: 1rem;
}
.form-wap .compny-add i{
    display: inline-block;
    margin-right: 1rem;
}
.form-wap .compny-add h2{
    display: inline-block;
    text-transform: uppercase;
}

.form-wap .add-group{
    margin-bottom: 3rem;
}
.form-wap .compny-add img{
    width: 90%;
    min-height: 40rem;
    object-fit: cover;
    object-position: right;
}

/* ############################### Form Styling ############### */
.form-wap .form{
    height: 760px;
    font-size: 1.6rem;
    background: #fff;
    width: 49%;
    float: right;
    padding: 1rem;
}

.form h1::after{
    content: '';
    display: block;
    border-bottom: 3px solid #e63946;
    width: 100%;
}

.form-wap .form label{
    display: block;
}
.form-wap .form input{
    padding: 0.5rem;
    width: 100%
}

.form-wap .form .form-group{
    margin-bottom: 1.2rem;
}

.form-wap .form label::after{
    content: '*';
    color: #e63946;
}

.form-wap .form textarea{
    width: 100%;
    height: 300px;
    padding: 1rem;
}
.form-btn{
    display: block;
    margin: 0 auto;
    padding: 0.5em 3em;
    text-transform: uppercase;
    background: #e63946;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
}

/* ############ media queries ################# */

@media (max-width: 500px){
    html{
        font-size: 50%;
    }

    .navbar .nav-items, .navbar .logo{
        float: none;
        display: block;
        width:100%;
        text-align: center;
    }

    .raw{
        height: auto;
        width: 100%;
    }
    .raw .img-box, .raw .text-box{
        float: none;
        width: 100%;
        text-align: center;
    }
    .feature .box{
        float: none;
        width: 100%;
        text-align: center;
        box-shadow: 10px 10px 20px 0px rgb(0, 0, 0);
    }
    .feature .box-2, .feature .box-3{
        margin-top: 7rem;
    }
    .box-wrapper{
        box-shadow: none;
    }
    .cta-left, .cta-right{
        float: none;
        width: 100%;
        text-align: center;
    }
    .form-wap .compny-add{
        float: none;
        width: 100%;
        height: auto;
        margin-bottom: 5rem;
    }
    .form-wap .form{
        float: none;
        width: 100%;
        height: auto;
    }
    .about-wrapper .left, .about-wrapper .right{
        float: none;
        width: 100%;
        text-align: center;
        margin-top: 5rem ;
    }
    .counts .count-items{
        float: none;
        width: 100%;
        text-align: 100%;
        margin-top: 5rem;
    }
    .about .lg-heading h2{
        float: none;
        width: 100%;
        text-align: center;
        
    }
}

@media (min-width: 501px) and (max-width: 768px){
    html{
        font-size: 50%;
    }

    p{
        font-size: 1.8rem;
    }

    .navbar .nav-items, .navbar .logo{
        float: none;
        display: block;
        width:100%;
        text-align: center;
    }

    .raw{
        height: auto;
        width: 100%;
    }
    .raw .img-box, .raw .text-box{
        float: none;
        width: 100%;
        text-align: center;
    }
    .feature .box{
        float: none;
        width: 100%;
        text-align: center;
        box-shadow: 10px 10px 20px 0px rgb(0, 0, 0);
    }
    .feature .box-2, .feature .box-3{
        margin-top: 7rem;
    }
    .box-wrapper{
        box-shadow: none;
    }
    .cta-left, .cta-right{
        float: none;
        width: 100%;
        text-align: center;
    }
    .form-wap .compny-add{
        float: none;
        width: 100%;
        height: auto;
        margin-bottom: 5rem;
    }
    .form-wap .form{
        float: none;
        width: 100%;
        height: auto;
    }
    
    
}
@media (min-width: 769px) and (max-width: 1200px){
    html{
        font-size: 56.25%;
    }
    .raw .text-box h2{
        font-size: 2.2rem;
        font-weight: 500;
    }
}

@media(orientation: landscape) and (max-height:500px){
    .header{
        height: 90vmax;
    }
}